//

.footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 140px 1fr;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    padding-bottom: 68px;
  }
}

.footer__logo {
  padding: 40px 0 19px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;

    text-align: left;
  }

  &:hover,
  &:focus {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.footer__logo svg {
  width: 100%;
  height: 100%;

  fill: currentColor;
}

.footer__link {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;

  color: #111111;

  @media (min-width: $tablet-width) {
    width: 143px;
    height: 26px;
    margin: 0;
  }

  &:hover,
  &:focus {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.footer__logo svg {
  display: block;
  width: 100%;
  height: 100%;

  fill: currentColor;
}

.footer__socials {
  padding-top: 20px;
  padding-bottom: 19px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;

    border: none;
  }
}

.footer__logo-academy {
  padding-top: 22px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
