//
.header {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.header--index::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;

    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/promo-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
}

.header__container {
  padding: 0;
}
