//
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 191px;
  height: 38px;
  margin-left: 19px;

  @media (min-width: 768px) {
    width: 174px;
    height: 52px;
    margin-left: 0;
  }

  @media (min-width: 1440px) {
    width: 202px;
    height: 59px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
}
