*,
::after,
::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  display: grid;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-main;
  color: #000000;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

// body {
//   min-width: 320px;
//   margin: 0 auto;
//   min-height: 100%;
//   font-family: "Arial", sans-serif;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 129%;
//   color: $color-dark-grey;
//   background-color: $color-white;
// }

// .img {
//   max-width: 100%;
// }

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }
